# Composer
/vendor/

# Drupal
/sites/*/files/
/sites/*/private/
/sites/*/settings.local.php
/sites/*/services.local.yml
/sites/default/settings.php
/sites/default/services.yml

# DDEV
/.ddev/

# Database dumps
*.sql

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.env

# Logs
*.log